@use "../abstracts/variables" as *;

.columns-container{
    display: grid;
    /*margin: 2rem auto;*/
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 1.5rem;
}

.quotes-container{
    width: 75%;
    margin: 21rem auto 0;
    padding: 1.5rem 1rem;
}

.quotes-container::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $clr-yellow-50;
    mix-blend-mode: multiply;
}

.top-splash{
    width: 100%;
    margin-top: -6rem;
    margin-bottom: 3rem;
}

.map{
    width: 90%;
    margin: auto;
    border: .2rem solid $clr-yellow;
    height: 30rem;
    display: grid;
    align-items: center;
    text-align: left;
}

.journey-list{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: $fs-md;
    font-weight: $fw-semibold;
    list-style-type: none;
    align-items: start;
    gap: 5rem;
}

.card-img{
    padding: .4rem;
}

.gallery{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.gallery-img{
    width: 100%;
}

.video-placeholder{
    width: 100%;
}

.footer-list{
    list-style-type: none;
}

.footer-list-item{
    display: flex;
    justify-content: space-around;
}

.memorable-description{
    background: url(../img/black-box-sm.png) center no-repeat;
    background-size: contain;
    width: 40%;
    font-size: $fs-xnm;
    margin: 0 auto;
    padding: 3rem 6rem;
}