$clr-main: hsl(0, 0%, 100%);
$clr-main-90: hsl(0, 0%, 88%);
$clr-dark: hsl(218, 13%, 17%);
$clr-yellow: hsl(35, 100%, 62%);
$clr-yellow-50: hsla(35, 100%, 62%, .64);
$clr-light-dark: hsl(220, 5%, 36%);

$ff-main: "Montserrat", sans-serif;
$ff-script: 'Nickainley', sans-serif;
$ff-title: 'Labor Union', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

$fs-nm: 1rem; //16
$fs-xnm: 1.25rem; //20
$fs-md: 1.875rem; //30
$fs-xmd: 2.5rem; //40
$fs-xxmd: 3.125rem; //50
$fs-lg: 3.75rem; //60
$fs-xl: 4rem; //70 4.375
$fs-xxl: 5rem;//80
$fs-gt: 6.25rem; //100
$fs-xgt: 7.5rem;//120